* {
  &:not(.fa) {
    font-family: Roboto, sans-serif !important;
  }
}

.green-gradient {
  background: rgb(79, 127, 65);
  background: -moz-linear-gradient(top, rgba(79, 127, 65, 1) 0%, rgba(128, 189, 86, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(79, 127, 65, 1) 0%, rgba(128, 189, 86, 1) 100%);
  background: linear-gradient(to bottom, rgba(79, 127, 65, 1) 0%, rgba(128, 189, 86, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f7f41', endColorstr='#80bd56', GradientType=0);
}

.orange-gradient {
  background: rgb(255, 183, 0);
  background: -moz-linear-gradient(top, rgba(255, 183, 0, 1) 0%, rgba(255, 139, 0, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 183, 0, 1) 0%, rgba(255, 139, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 183, 0, 1) 0%, rgba(255, 139, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb700', endColorstr='#ff8b00', GradientType=0);
}

.ScrollUpButton__Container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #ffb200;
  transition: ease .3s;
  visibility: hidden;
  border-radius: 50%;
  padding: 5px;
  opacity: 0;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  &:hover {
    cursor: pointer;
  }
  span:before {
    display: block;
    content: '\f062';
    font-family: FontAwesome, sans-serif !important;
    font-size: 20px;
    color: white;
  }
  &.ScrollUpButton__Toggled {
    transition: ease .3s;
    visibility: visible;
    opacity: 1;
  }
}